  
input{
    text-align: right;
    border-radius: 3px;
  }

  table{
    margin-top: 50%;
  }
  
  button{
    border-radius: 3px;
  }
  
  div{
    padding-bottom: 5px;
    padding-left: 40%;
  }
  